@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@theme {
  --font-display: "Inter", "sans-serif";
}

:root {
  font-family: var(--font-display);
}

.modal {
  backdrop-filter: blur(8px);
  transition:
    opacity 0.2s,
    transform 0.2s;
}

/* Android style transition */
.android-enter-active,
.android-leave-active {
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.android-enter-from {
  opacity: 0;
  transform: translateY(20px);
}

.android-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

/* Modal transition */
.modal-fade-enter-active,
.modal-fade-leave-active {
  transition:
    opacity 0.2s,
    transform 0.2s;
}
.modal-fade-enter-from,
.modal-fade-leave-to {
  opacity: 0;
  transform: scale(0.95);
}
.modal-fade-enter-to,
.modal-fade-leave-from {
  opacity: 1;
  transform: scale(1);
}
